<h1>
  <%=current_user.username.titlecase%>'s Wishlist 
</h1>

<hr>

<table class="table">
  <tr>

    <th>
      Product
    </th>


    <th>
    </th>
  </tr>

  <% Like.where({ :user_id => current_user.id}).each do |like| %>
  
  <tr>
    <td>
      <a href="/products/<%=like.product_id%>"><%= Product.find(like.product_id).full_product %></a>
    </td>
    
    <td>
        <a href="/delete_like/<%=like.product_id%>"><i class="fas fa-trash"></i></a>
    </td>
  </tr>
  <% end %>
</table>
