<h1>
  All products
</h1>

<a href="/products/new">
  Add a new product
</a>

<hr>








<table class="table">
  <tr>

    <th>
      Brand
    </th>

    <th>
      Item
    </th>

    <th>
      Shade
    </th>

    <th>
    </th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    
    <td>
      <%= product.brand %>
    </td>

    <td>
      <%= product.item %>
    </td>

    <td>
      <%= product.shade %>
    </td>

    <td>
      <a href="/products/<%= product.id %>">
        View Swatches
      </a>
    </td>
  </tr>
  <% end %>
</table>
